// login page styles

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;
}


.login-box {
    width: 300px;
    padding: 25px;
    border: 1px solid #000;
    border-radius: 6px;
    background: #fff;

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #000;
    }

    label {
        font-size: 14px;
        color: #000;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #000;
        border-radius: 4px;
        background: #fff;
        color: #000;
    }

    button {
        width: 100%;
        padding: 10px;
        background: #000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

// Registration Page Styles

button {
    width: 100%;
    padding: 10px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
